@charset "UTF-8";

/**
 * Variables
 **/
$matt_watson_color_primary: #75251e;
$matt_watson_color_gutenberg_grey: #f3f3f4;
$matt_watson_color_gutenberg_black: #32373c;

/**
 * Default Styles
 *
 * The default styles for the block in the editor.
 */